.dockerignore @enzogaggiotti
Dockerfile @enzogaggiotti

.github @enzogaggiotti
.pre-commit-config.yaml @enzogaggiotti
.gitignore @enzogaggiotti

LICENSE @enzogaggiotti
README.md @enzogaggiotti
docs @enzogaggiotti

requirements.txt @enzogaggiotti
/src @enzogaggiotti
/tests @enzogaggiotti
